.heroBanner {
  padding: 5rem 0 4.5rem;
  text-align: left;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    var(--gridd-background2) 0%,
    var(--gridd-accent1) 100%
  );
  color: var(--gridd-text2);
}

.heroBanner :global(.hero__title) {
  font-size: 3rem;
  letter-spacing: -0.01em;
  color: var(--gridd-text2);
}

.heroBanner :global(.hero__subtitle) {
  max-width: 42rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--gridd-secondary2);
  margin-top: 0.75rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem 0;
  }
  .heroBanner :global(.hero__title) {
    font-size: 2.25rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.buttons :global(.button--secondary) {
  background: var(--gridd-secondary1);
  border-color: var(--gridd-secondary1);
  color: var(--gridd-background2);
}

.buttons :global(.button--secondary:hover) {
  background: var(--gridd-text2);
  border-color: var(--gridd-text2);
  color: var(--gridd-background2);
}
